*{
    font-family: 'Courier New', Courier, monospace;
}

input:focus {
    outline: none;
  }

  li{
      color: green;
      cursor: pointer;
  }

  li:hover{
      color: red;
  }

  .done{
    color: red;
    text-decoration: line-through red;
  }

  button#delete{
    background-color: white;
    color: black;
    border: 1px solid #fb0606; 
    font-size: 10px;
  }
  